body{
	color:#000;
	font-family: arial, sans-serif;
	max-width:1200px;
	margin: 0 auto;
}

.container-fluid{
	margin-top:30px;
	padding:15px;
}

.container{
	max-width:960px;
	margin:0 auto;
	margin-top:70px;
	padding: 15px;
}

nav{
	display: flex;
    height: 50px;
    width:100%;   
    margin: 0 auto;
}

nav a{
   	color: #fff;
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: center;
    background-color: rgba(101, 214, 237, 1);
    text-transform: uppercase;
}

nav a.active{
	background-color: rgba(101, 214, 237, 0.5);
}

nav a:first-of-type{
	border-radius: 50px 0px 0px 50px;
}
nav a:last-of-type{
	border-radius: 0px 50px 50px 0px;
}	

nav a:hover{
   	background-color: rgba(101, 214, 237, 0.5);
}


.product{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #f1f1f1;
	position:relative;
}

.product div{
	margin-bottom:10px;
}

.product .name{
	text-transform:uppercase;
	font-weight:bold;
}

.buttons-group{
    position: relative;
    float: right;
    top: -40px;
}

.delete{
    background-color:rgba(249, 79, 79, 1);
}

.update{
    background-color:rgba(98, 247, 200, 1);
}

button.delete,
button.update{
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
}

button.delete:hover{
    background-color:rgba(249, 79, 79, 0.5);
}

button.update:hover {
    background-color:rgba(98, 247, 200, 0.5);
}

button.delete img,
button.update img {
    position: relative;
    float: left;
    top: 5px;
    left: 10px;
}

button.delete span,
button.update span{
    line-height: 30px;
}
